body {
  background-image: url(https://www.istockphoto.com/photo/blue-tennis-court-and-illuminated-indoor-arena-with-fans-upper-front-view-gm1176735816-328213673);
  background-repeat: no-repeat;
  background-size: cover;
}
